    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}" />{{ end }}
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}" />{{ end }}
    {{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}" />{{ end }}
    {{ if not .Site.Params.OpenGraph.hide }}
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" />
    <meta name="twitter:title" content="{{ .Site.Title }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" />
    <meta name="twitter:card" content="" />
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}"/>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/fork-awesome.css" />
    <link rel="stylesheet" href="css/simple-line-icons.css" /> <!-- Simple Line Icons -->
    <link rel="stylesheet" href="css/magnific-popup.css" /> <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    {{ range .Site.Params.custom_css }}<link rel="stylesheet" href="{{ . }}" />{{ end }}
    <script src="js/modernizr.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
