	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.min.js" async></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js" async></script>
	<!-- Counter -->
	<script src="js/jquery.countTo.js" async></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js" async></script>
	<script src="js/magnific-popup-options.js" async></script>
	<!-- modernizr -->
    <script src="js/modernizr.js" async></script>
	<!-- Main JavaScript -->
	<script src="js/main.js" async></script>
	<!-- Anti-spam -->
	<script src='https://www.hCaptcha.com/1/api.js' async defer></script>
