<header role="banner" id="fh5co-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="index.html"><img src="" id="logo"
                        alt="{{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}" /></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav ml-auto">

                    {{ range .Site.Menus.prepend }}
                    <li class="nav-item">><a class="nav-link external" href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a></li>
                    {{ end }}

                    <li class="nav-item active"><a class="nav-link" href="#" data-nav-section="home"><span>{{ with .Site.Params.navigation.home
                                }}{{ . | markdownify }}{{ end }}</span></a></li>

                    {{ if .Site.Params.testimonials.enable }}
                    <li class="nav-item"><a class="nav-link" href="#" data-nav-section="testimonials"><span>{{ with .Site.Params.navigation.testimonials
                                }}{{ . | markdownify }}{{ end }}</span></a></li>
                    {{ end }}

                    {{ if .Site.Params.features.enable }}
                    <li class="nav-item"><a class="nav-link" href="#" data-nav-section="features"><span>{{ with .Site.Params.navigation.features }}{{ . |
                                markdownify }}{{ end }}</span></a></li>
                    {{ end }}

                    {{ if .Site.Params.about.enable }}
                    <li class="nav-item"><a class="nav-link" href="#" data-nav-section="about"><span>{{ with .Site.Params.navigation.about }}{{ . |
                                markdownify }}{{ end }}</span></a></li>
                    {{ end }}

                    {{ if .Site.Params.help.enable }}
                    <li class="nav-item"><a class="nav-link" href="#" data-nav-section="help"><span>{{ with .Site.Params.navigation.help }}{{ . |
                                markdownify }}{{ end }}</span></a></li>
                    {{ end }}

                    {{ if .Site.Params.contact.enable }}
                    <li class="nav-item"><a class="nav-link" href="#" data-nav-section="contact"><span>{{ with .Site.Params.navigation.contact }}{{ . |
                                markdownify }}{{ end }}</span></a></li>
                    {{ end }}

                    {{ range .Site.Menus.postpend }}
                    <li class="nav-item"><a class="nav-link external" href="{{ .URL }}" target="_blank"><span>{{ .Name | markdownify }} <i
                                    class="fa fa-external-link" style="font-size: 1.2rem; vertical-align:top"
                                    aria-hidden="true"></i></span></a></li>
                    {{ end }}
                </ul>
            </div>
        </nav>
    </div>
</header>